* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

:root {
  --purple: purple;
  --black: black;
  --white: white;
  --blue: steelblue;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.square {
  width: 30%;
  margin: 1.66%;
  float: right;
  background-color: var(--purple);
  padding-bottom: 30%;
  border-radius: 20%;
  -o-transition: background 0.8s;
  transition: background 0.8s;
  -webkit-transition: background 0.8s;
  -moz-transition: background 0.8s;
}

#container {
  margin: 30px auto;
  max-width: 600px;
}

h1 {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.2;
  padding: 30px;
  background: var(--black);
}

#colordisplay {
  font-size: 200%;
}
#message {
  font-size: inherit;
  display: inline-block;
  width: 20%;
}
#stripe {
  background-color: var(--white);
  text-align: center;
  width: 600px;
  margin: 20px auto;
}
.selected {
  color: var(--white);
  background: var(--blue);
}

button {
  border: none;
  background: none;
  margin-left: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700%;
  color: var(--blue);
  letter-spacing: 1px;
  font-size: inherit;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  outline: none;
}

button:hover {
  color: var(--white);
  background: var(--blue);
}
